body {
    padding: 0;
    background-color: rgb(30, 41, 59);
    color: rgb(245, 222, 179);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    background-color: rgb(20, 28, 41);
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px 20px;
}

.app {
    background-color: rgb(20, 28, 41);
    border-radius: 10px;
    padding: 40px;
    margin: 20px 20px;
}

a {
    color: rgb(216, 209, 115);
    text-decoration: none;
}

.directory-list {
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0;
}

.directory-list a {
    outline: 2px solid rgb(6, 199, 70);
    border-radius: 3px;
    display: inline-block;
    padding: 15px 20px 20px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.directory-list a li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}

.directory-list a li.folder-item:before {
    content: "📁 ";
    font-size: 30px;
}

.directory-list a li.file-item:before {
    content: "📝 ";
    font-size: 30px;
}

.directory-list a li.drive-item {
    font-weight: bold;
    font-size: 1.2em;
}

.directory-list a li.drive-item:before {
    content: "💾 ";
    font-size: 30px;
}